nav{
    background-color:rgb(6, 6, 65);
    height: auto;
    width: auto;
    
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 10px;

}
a{
    color:aliceblue;
    text-decoration: none;
}
li:hover:not(.active){
    background-color: black;
}